# Entorno virtual
env/
venv/

# Archivos de Python
*.pyc
__pycache__/

# Ignorar la base de datos local
db.sqlite3

# Archivos de configuración locales
*.env

# Archivos de IDE
.vscode/
.idea/

# Archivos de sistema macOS
.DS_Store

# Ignorar archivos binarios compilados de traducción
*.mo
