# Entornos y editor
env/
venv/
.idea/
.vscode/
.env

# Compilados / caché
__pycache__/
*.pyc

# Base de datos local (¡no versionarla!)
db.sqlite3

# Archivos de i18n compilados (se regeneran)
*.mo

# Archivos generados / build
staticfiles/
media/
*.log

# Node / otros
node_modules/

# Sistemas
.DS_Store

# Archivos temporales de migraciones o compilación
*.pot
*.sqlite3-journal
*.tmp

# Archivos de caché de Django
*.cache/
